<% if @stock %>
  <div class="card card-header col-sm-12">
    <h3><strong><%= @stock.company %> (<%= @stock.ticker.upcase %>)</strong></h3>  
    <hr>

    <strong>Price: </strong> <%= '%.2f' % @stock.price %>

    <div class="d-flex flex-row-reverse bd-highlight">
    <% if current_user.stock_already_exist?(@stock.ticker) %>
           <h4>&#x2714;Owned</h4>

     <% elsif @user_status && @stock.price < current_user.investment %>
        <%= link_to 'Buy', user_stocks_path(user: current_user, ticker: @stock.ticker), class: "btn btn-sm btn-success col-sm-2", method: :post %>

      <% else %>
       
          <button type="button" class="btn btn-sm btn-secondary col-sm-2" disabled>Buy</button>

      <% end %>
    </div> 
  </div>
<% end %>

