<% if @stock %>
  <div class="card card-header col-sm-12">
    <h3><strong><%= @stock.company %> (<%= @stock.ticker.upcase %>)</strong></h3>  
    <hr>
    <strong>Price: </strong> <%= @stock.price %>
<% unless @user_status %>
    <%= link_to 'Buy', user_stocks_path(user: current_user, ticker: @stock.ticker), class: "btn btn-sm btn-success col-sm-2", method: :post %>
<% end %>
  </div>
<% end %>

